html, body {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100% height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  background-size: 100%;
  background-image: url("assets/images/backgroundoverlay-light.png");
  background-repeat: repeat;
}

span + span{
  margin-left: 1vh;
}

#main {
  position: fixed;
  text-align: center;
  font-size: 100%;
  min-width: 35vh;
  width: 50%;
  max-width: 100vh;
  left: 25%;
  top: 30%;
  /*black*/
  /*background: rgba(10, 10, 10, .7);*/
  /*white*/
  /*background: rgba(255,255,255,.3);*/;
  /* blue */
  background: rgba(44, 62, 80, .9);
}

#name{
  font-size: 6vh;
  letter-spacing: .7vh;
  padding: 2vh;
  margin-top: 3vh;
  font-weight: lighter;
  margin-bottom: 0;
}

#name:after {
  content: "";
  height: .3vh;
  background:linear-gradient(to right, rgba(0,0,0,0) 30%, rgba(147,147,147,.8) 50%, rgba(0,0,0,0) 70%);
  display: block;
  margin-bottom: 1vh;
  margin-top: 1.5vh;
}

#links{
  font-size: 2vh;
  letter-spacing: .1vh;
  position: relative;
}

.divider{
  /*color:whitesmoke;*/
  /*color:slategrey; */
  color: #617487;
}

.text {
  font-family: open-sans, sans-serif;
  font-style: normal;
  font-weight: 300;
  /*color: whitesmoke;*/
  color: #ecf0f1; /* clouds */
  /*color:black;*/
}

a:link, a:visited, a:active {
  /*color: ivory;*/
  /* ligher blue */
  color: #D0C190;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  /*color:AliceBlue;*/
  color: #F6EBC8;
}
