html, body {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100% height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  background: url("assets/images/backgroundoverlay-light.png")  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

span + span{
  margin-left: 1vh;
}

div#main {
  position: fixed;
  text-align: center;
  font-size: 100%;
  max-width: 100vh;
  min-width: 35vh;
  width: 50%;
  left: 25%;
  top: 30%;
  background: rgba(44, 62, 80, .9); /* blue */
  /*box-shadow: 0px 0px 0px .2vw white inset;*/
  outline-offset: -5px;
  outline: solid thin #fff;
}

#name{
  font-size: 6vh;
  letter-spacing: .7vh;
  padding: 0vh;
  margin-top: 3vh;
  font-weight: lighter;
  margin-bottom: 0;
}

#name:after {
  content: "";
  height: .3vh;
  background:linear-gradient(to right, rgba(0,0,0,0) 30%, rgba(147,147,147,.8) 50%, rgba(0,0,0,0) 70%);
  display: block;
  margin-bottom: .5vh;
  margin-top: 1.5vh;
}

#links{
  font-size: 1.8vh;
  letter-spacing: .1vh;
  position: relative;
}

#description{
  padding: 0;
  margin-top: 0;
  font-size: 2vh;
}

.divider{
  color: #617487;
}

.text {
  font-family: open-sans, sans-serif;
  font-style: normal;
  font-weight: 300;
  /*clouds*/
  color: #ecf0f1;
  /*color:black;*/
}

.copied {
  position: absolute;
  text-align: center;
  padding: 1vh;
  border-radius: .6vh;
  color: #ecf0f1;
  background: black;
  font-size: 1vw;
  left: 40%;
  opacity: 1;
}

a:link, a:visited, a:active {
  /*color: ivory;*/
  /* ligher blue */
  color: #D0C190;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  /*color:AliceBlue;*/
  color: #F6EBC8;
}
