body {
  background-image: url("../assets/images/eGirlFanboys/eGirl-background.jpg");
  margin: 0;
}

#header {
  background: #34495e;
  text-align: left;
  margin: 0;
}

#logo {
  position: relative;
  left: 0px;
  top: 0px;
  width: auto;
  height: 80px;
  min-width: 1%;
}

#egirlfanboys {
  position: relative;
  width: 400px;
  margin-top: 10px;
}

div.tab {
  overflow: hidden;
  background-color: #34495e;
}

div.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: #ecf0f1;
  border-bottom: 3px solid #2c3e50;

}

div.tab button:hover {
  background-color: #2c3e50;
}

div.tab button.active {
  background-color: #2c3e50;
}

.tabcontent {
  display: none;
  position: relative;
  padding: 6px 12px;
  /*border: 1px solid #ccc;*/
  width: auto;
  height: auto;
  border-top: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  overflow: hidden;
}

div#pictures img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div#pictures img {
  width: 70%;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
