body {
  background-image: url("../assets/images/eGirlFanboys/eGirl-background.jpg");
  margin: 0;
  color: #ecf0f1;
}

#header {
  background: #34495e;
  text-align: left;
  margin: 0;
}

#logo {
  position: relative;
  left: 0px;
  top: 0px;
  width: auto;
  height: 80px;
  min-width: 1%;
}

#egirlfanboys {
  position: relative;
  width: 400px;
  margin-top: 10px;
}

div.tab {
  overflow: hidden;
  background-color: #34495e;
}

div.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: #ecf0f1;
  border-bottom: 3px solid #2c3e50;
}

div.tab button:hover {
  background-color: #2c3e50;
}

div.tab button.active {
  background-color: #2c3e50;
}

.tabcontent {
  display: none;
  position: relative;
  padding: 6px 12px;
  width: auto;
  height: auto;
  border-top: none;
  animation: fadeEffect 1s;
  overflow: hidden;
}

div#stats iframe, div#challonge iframe, div#opgg iframe, div#prep iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

div.chart-container {
  display: inline-block;
  float: left;
  line-height: 0;
  position: relative;
  text-align: center;
  /*margin-right: auto;
  margin-left: auto;
  padding-bottom: 5vw;
  margin-bottom: 0px;*/
  padding: 0;
  margin: 0;
  height: 40vh;
  width: 40vw;
  /*border-bottom: 1px solid #ecf0f1;*/
}

div.chart-container canvas {
  border-bottom: 2px solid #ecf0f1;
}

div#groupA {
  margin-top: 2vh;
  margin-left: 5vw;
  padding: 20px;
  display: inline-block;
  position: relative;
  border-left: 2px solid #ecf0f1;
  font-size: 18px;
  float: left;
}

#album:before {
  content: "";
  height: .3vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(147, 147, 147, 1) 50%, rgba(0, 0, 0, 0) 100%);
  display: block;
  margin-bottom: .5vh;
  margin-top: 1.5vh;
}

#album img {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 20%;
  height: auto;
  transition: transform .2s ease-out;
}

#album img:hover {
  outline: 2px solid #8e44ad;
  outline-offset: -20px;
}

#album .enlarged {
  display: block;
  position: fixed;
  transform: scale(3.0);
  top: 50%;
  left: 40%;
}

a:link, a:visited, a:active {
  color: #F3DBDF;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #D4ABB1;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
